<%= image_tag "GA_secondary_cog_bw.png", class: "logo" %>

<%= form_for @signup do |f| %>
<%= f.label :first_name %> <br>
<%= f.text_field :first_name %><br>
<%= f.label :last_name %> <br>
<%= f.text_field :last_name %><br>

<%= f.label :email %> <br>
<%= f.email_field :email %> <br>
<%= f.label :company %> <br>
<%= f.text_field :company %> <br>
<%= f.label :phone_number %> <br>
<%= f.telephone_field :phone_number %> <br>
<%= f.submit "Hello" %>
<% end %>

<div class="thank-you"></div>

<script>
$("form").on("submit", function(e){
  e.preventDefault();
  if($("#signup_email").val() !== ""){
    $.ajax({
      type: "POST",
      url: "/signups",
      data: { signup: {
        first_name: $("#signup_first_name").val(),
        last_name: $("#signup_last_name").val(),
        email: $("#signup_email").val(),
        company: $("#signup_company").val(),
        phone_number: $("#signup_phone_number").val()
      }
    }
  }).success(function(){$("form")[0].reset()});
  }
});

</script>
